*{
    box-sizing: border-box;
}

body{
    background-color:#88D8ED;
    
    color:#666666;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background:url(../images/sunset.jpg) no-repeat right;
    background-color:#000033;
    color:#FFFFFF;
    height:120px;
    text-align:center;
    padding-top:30px;
    padding-left:3em;
}

h1,h2,h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1{
    margin-top:0px;
    margin-bottom:0px;
    font-size: 300%;
    letter-spacing: 0.25em;
}

nav, main{
    display: inline-block;
    vertical-align: top;
}

nav {
    
    font-weight:bold;
    font-size: 120%;
    padding:1.5em;
    width:30%;
}
nav ul{
    list-style-type: none;
    padding-left: 0px;
    font-size:120%;
}

nav a:link{
    color:#5C7FA3;
}
nav a:visited{
    color:#344873;
}
nav a:hover{
    color:#A52A2A;
}

h2,h3{
    color:#000033;
}

h2{
    text-shadow: 2px 2px #CCCCCC;
}


ul{
    list-style-image: url(../images/marker.gif);
}

main{
    padding:1px 20px 20px;
    background-color: #FFFFFF;
    width: 70%;
}

footer{
    font-size:75%;
    padding:20px;
    background-color: #FFFFFF;
}

table, th, td{
    border:2px solid #3399CC;
    border-collapse:collapse;
}

tbody > tr:nth-of-type(odd) {
    background-color: #b1e0f2;
}

th, td{
    padding:0.5em;
}

td{
    text-align:center;
}

label,textarea{
    display:block;
}

input,textarea{
    margin-bottom:1.5em;
}

.required{
    color: #e61d1d;
}

.left{
    text-align:left;
}

.resort{
    color:#5C7FA3;
    font-weight:bold;
}

#contact{
    font-size:90%;
}

#wrapper{
    width:80%;
    margin:auto;
    background-color:#90C7E3;
    background-image: linear-gradient(#90C7E3,#FFFFFF);
    min-width:960px;
    max-width:1500px;
    box-shadow:3px 3px #333333;
}

#homehero{
    height:300px;
    background-image: url(../images/coast.jpg);
    background-repeat: no-repeat;
    background-size:100%;
}

#yurthero{
    height:300px;
    background-image: url(../images/yurt.jpg);
    background-repeat: no-repeat;
    background-size:100%;
}

#trailhero{
    height:300px;
    background-image: url(../images/trail.jpg);
    background-repeat: no-repeat;
    background-size:100%;
}